*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}
header{
    background:linear-gradient(rgb(115, 115, 223),rgb(222, 200, 203)) ;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a{
color: rgb(147, 147, 193);  
text-decoration: underline;  
}
a:hover{
    text-decoration: none;
}
.nav{
    margin: -5px 0 10px 15px;
    display: flex;
    flex-wrap: wrap;
}
.nav-itm{
    background: #9bc3e2;
    width: 130px;
    height: 50px;
    font-size:1.5rem ;
    text-decoration: none;
    text-align:center;
    margin:5px 0 0 15px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(192, 44, 44);
}
